/* ? ------------------ Font ------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* ? ------------------ Variables ------------------ */

:root {
    --bg-white: white;
    --bg-gray: #f9f9f9;
    --bg-gray-darker: #e9e9e9;

    --accent-blue: #17254e;

    --red-light: #fff1f1;
    --red-dark: #a32828;
    /* --red-dark: green; */

    /* --red-light: rgb(241, 255, 241);
    --red-dark: rgb(0, 48, 0); */

    --blue-light: #eef0ff;
    --blue-dark: #2e4173;

    --yellow-light: #f8f1e5;
    --yellow-dark: #d09125;
}

/* ? ------------------ Basic Code ------------------ */


* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}

/* ? ------------------ Repetitive Code ------------------ */

.heading {
    color: var(--accent-blue);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: -0.1rem;
    font-size: 3rem;
    /* font-size: 2.5rem; */
    text-align: left;
    margin-left: 7rem;
    margin-bottom: 5rem;
    padding: 0 1rem;
    /* padding: 1rem; */
}

.button {
    font-size: 1.5rem;
    background: black;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    margin-top: 3rem;
}

.button2 {
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
    /* border-radius: 10px; */
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
    background: none;
    color: black;
    border: 1px solid black;
    margin-top: 3rem;
}

.button:hover {
    transform: translateY(-7px);
}

.button2:hover {
    transform: translateY(-7px);
}

.buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ? ------------------ Navbar ------------------ */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    background: white;
    z-index: 10;
}

nav .left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .left img {
    height: 60%;
}

nav .right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .right img {
    height: 100%;
}

nav .right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav .right a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

/* ? ------------------ Global Responsive Code ------------------ */

@media (max-width:700px) {

    html {
        font-size: 14px;
    }

    .heading {
        font-size: 2.5rem;
        margin: 3rem 0;
    }

    /* ? ------------------ Nav ------------------ */

    nav {
        padding: 0 1rem;
    }

    nav .left img {
        height: 50%;
    }

    nav .right img {
        height: 70%;
    }

    nav .right {
        gap: 1rem;
    }

    nav .right a {
        font-size: 1rem;
    }
}