/* ? ------------------  ------------------ */
section {
    width: 100%;
    padding: 5rem 0;
}

section:nth-child(even) {
    background: #F5F5F5;
}

/* ? ------------------ WhatsappButton ------------------ */

.whatsappDiv {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.whatsappDiv img {
    cursor: pointer;
}

/* 
todo -------------------------------------------------------------------------
todo                                 SECTIONS               
todo -------------------------------------------------------------------------
*/

/* ? ------------------ Hero ------------------ */

section.hero {
    /* padding-top: 10vh; */
    /* margin: 0; */
}

section.hero .container {
    width: 60%;
    margin: auto;
}

section.hero img {
    width: 100%;
    object-fit: cover;
}

/* ? ------------------ News ------------------ */

section.news .container {
    width: 80%;
    margin: auto;
}

section.news .container img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

/* ? ------------------ Reviews ------------------ */

.reviews .container {
    width: 80%;
    margin: auto;
    columns: 2;
}

.reviews .container img {
    width: 100%;
    margin-bottom: 2rem;
}

/* ? ------------------ Batches ------------------ */

section.batches .container {
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

section.batches .container .box {
    background: white;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding: 2rem;
}

section.batches .container .box:hover {
    border: 1px solid gray;
}

section.batches .lottieContainer {
    height: 10em;
}

section.batches .container .box h1 {
    font-size: 1.6rem;
    font-family: "Poppins";
    font-weight: bold;
    color: var(--accent-blue);
}

section.batches .container .box h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

section.batches .container .box .features {
    margin-top: 2rem;
}

section.batches .container .box .features p {
    font-size: 1.2rem;
    margin: 1rem 0;
}


/* ? ------------------ Gallary ------------------ */

section.gallary .container {
    width: 95%;
    margin: auto;

    columns: 3;
    gap: 1rem;
    padding: 0 1rem;
}

section.gallary .heading {
    margin-bottom: 2rem;
}

section.gallary .options {
    margin-bottom: 2rem;
    padding: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

section.gallary .options .button {
    margin: 0;
}

section.gallary .container .img {
    width: 100%;
    margin: 1rem 0;
    border-radius: 10px;
    overflow: hidden;
}

section.gallary .container .img:first-child {
    margin: 0;
}

section.gallary .container .img img {
    width: 100%;
    border-radius: 10px;
    transition: scale 0.5s;
}

/* ? ------------------ Youtube ------------------ */

section.youtube .container {
    width: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

section.youtube .container iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

/* ? ------------------ Map ------------------ */

.map .container {
    width: 90%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.map iframe {
    border-radius: 10px;
    width: 100%;
}

/* ------------------ Contact ------------------ */

section.contact .container {
    width: 50%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Top 2 toggle  */

section.contact .radio-inputs {
    display: flex;
    border-radius: 0.5rem;
    background: var(--bg-gray-darker);
    /* background: red; */
    /* background: white; */
    padding: 0.25rem;
    width: 70%;
    margin: auto;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

section.contact .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

section.contact .radio-inputs .radio input {
    display: none;
}

section.contact .radio-inputs .radio .name {
    /* font-family: "Poppins"; */
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .1s ease-in-out;
}

section.contact .radio-inputs .radio input:checked+.name {
    background-color: #fff;
    font-weight: 600;
}

/* 2 Inputs => Name & Std */

section.contact .container form {
    /* background: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.contact .container form .inputs {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

section.contact .container form .inputs input {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    margin: 1rem 0;
    border: none;
    border-bottom: 1px solid black;
    background: #F5F5F5;
}

section.contact .container form .inputs input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

section.contact .container form .inputs input::placeholder {
    font-size: 1.2rem;
    color: #2a2432;
}

/*  */

section.contact .container2 {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 5rem;
}

section.contact .container2>* {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.contact .container2 h2 {
    margin: 0.5rem 0;
}

section.contact .container2 h3 {
    font-weight: 200;
}

section.contact .container2 img {
    height: 70px;
    cursor: pointer;
}

/* 
todo -------------------------------------------------------------------------
todo                                 Footer               
todo --------------------------------------------------------------------------
*/

/* ? ------------------ Footer ------------------ */


section.footer {
    padding-bottom: 1rem;
}

section.footer h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

section.footer .social-media img {
    cursor: pointer;
    height: 50px;
}

section.footer .social-media img.insta {
    height: 65px;
}

section.footer .social-media img.yt {
    height: 75px;
}

section.footer p {
    text-align: center;
    margin-top: 2rem;
}