/* ? ------------------  ------------------ */
section {
    width: 100%;
    padding: 5rem 0;
}

section:nth-child(even) {
    background: #fbfafaa2;
}

/* ? ------------------ WhatsappButton ------------------ */

.whatsappDiv {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.whatsappDiv img {
    cursor: pointer;
}

/* 
todo -------------------------------------------------------------------------
todo                                 SECTIONS               
todo -------------------------------------------------------------------------
*/


/* ? ------------------ Students Corner ------------------ */

section.corner {
    margin-top: 2rem;
}

section.corner .container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
}

section#parentsCorner .container {
    grid-template-columns: repeat(3, auto);
}

section#teachersCorner .container {
    grid-template-columns: repeat(3, auto);
}

section.corner .container>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.corner .container>div .lottieContainer {
    /* width: 80%; */
    height: 12rem;
}

section.corner .container>div .button {
    margin-top: 2rem;
}

@media (max-width:700px) {
    section.corner .container {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    section#teachersCorner .container {
        grid-template-columns: repeat(1, 1fr);
    }

    section#parentsCorner .container {
        grid-template-columns: repeat(2, 1fr);
    }

    section.corner .container>div {
        margin-top: 2rem;
    }

    section.corner .container>div .lottieContainer {
        height: 10rem;
    }

    section.corner .container>div .button {
        font-size: 1.5rem;
        padding: 1rem 1rem;
    }

    section.corner .container>div .button2 {
        font-size: 1.5rem;
        padding: 1rem 1rem;
    }
}

/* ? ------------------ Reviews ------------------ */

.reviews .container {
    width: 80%;
    margin: auto;
    columns: 2;
}

.reviews .container img {
    width: 100%;
    margin-bottom: 2rem;
}

/* ? ------------------ Batches ------------------ */

section.batches .container {
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

section.batches .container .box {
    background: white;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding: 2rem;
}

section.batches .container .box:hover {
    border: 1px solid gray;
}

section.batches .lottieContainer {
    height: 10em;
}

section.batches .container .box#commercebox h1 {
    font-size: 1.8rem;
}

section.batches .container .box h1 {
    font-size: 2rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Poppins"; */
    /* font-family: "Raleway", sans-serif; */
    font-weight: 600;
    color: var(--accent-blue);
    text-align: center;
}

section.batches .container .box h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    text-align: center;
}

/* ? ------------------ Gallary ------------------ */

section.gallary .container {
    width: 95%;
    margin: auto;

    columns: 3;
    gap: 1rem;
    padding: 0 1rem;
}

section.gallary .heading {

    margin-bottom: 2rem;
}

section.gallary .options {
    margin-bottom: 2rem;
    padding: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

section.gallary .options .button {
    margin: 0;
}

section.gallary .container .img {
    width: 100%;
    margin: 1rem 0;
    border-radius: 10px;
    overflow: hidden;
}

section.gallary .container .img:first-child {
    margin: 0;
}

section.gallary .container .img img {
    width: 100%;
    border-radius: 10px;
    transition: scale 0.5s;
}



/* ? ------------------ Map ------------------ */

.map .container {
    width: 90%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.map .container .left {
    /* width: 70%; */
    width: 100%;
}

.map .container .right {
    /* width: 30%; */
}

.map iframe {
    border-radius: 10px;
    width: 100%;
    height: 20rem;
    /* height: 100%; */
}

.map .heading {
    text-align: center;
    padding: 0;
    margin: 3rem 0;
}

.map .right img {
    height: 50px;
    width: 50px;
}

/* ------------------ Contact ------------------ */

section.contact .container {
    width: 50%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 5rem;
}

section.contact p {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

section.contact h1 {
    text-align: center;
    /* background: red; */
    margin-left: 0;
}

section.contact p span {
    font-weight: 900;
    border-bottom: 1px solid black;
    cursor: pointer;
}

@media (max-width:700px) {
    section.contact p {
        font-size: 1.5rem;
    }
}

/* Top 2 toggle  */

section.contact .radio-inputs {
    display: flex;
    border-radius: 0.5rem;
    background: var(--bg-gray-darker);
    /* background: red; */
    /* background: white; */
    padding: 0.25rem;
    width: 70%;
    margin: auto;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

section.contact .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

section.contact .radio-inputs .radio input {
    display: none;
}

section.contact .radio-inputs .radio .name {
    /* font-family: "Poppins"; */
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .1s ease-in-out;
}

section.contact .radio-inputs .radio input:checked+.name {
    background-color: #fff;
    font-weight: 600;
}

/* 2 Inputs => Name & Std */

section.contact .container form {
    /* background: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.contact .container form .inputs {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

section.contact .container form .inputs input {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    margin: 1rem 0;
    border: none;
    border-bottom: 1px solid black;
    background: #F5F5F5;
}

section.contact .container form .inputs input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

section.contact .container form .inputs input::placeholder {
    font-size: 1.2rem;
    color: #2a2432;
}

/*  */

section.contact .container2 {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 5rem;
}

section.contact .container2>* {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.contact .container2 h2 {
    margin: 0.5rem 0;
}

section.contact .container2 h3 {
    font-weight: 200;
}

section.contact .container2 img {
    height: 70px;
    cursor: pointer;
}

/* 
todo -------------------------------------------------------------------------
todo                                 Footer               
todo --------------------------------------------------------------------------
*/

/* ? ------------------ Footer ------------------ */


section.footer {
    padding-bottom: 1rem;
}

section.footer h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

section.footer .social-media img {
    cursor: pointer;
    height: 50px;
}

section.footer .social-media img.insta {
    height: 65px;
}

section.footer .social-media img.yt {
    height: 75px;
}

section.footer p {
    text-align: center;
    margin-top: 2rem;
}

/*  */

/* Swiper  */


.weeklyToppers .swiper {
    width: 80%;
    margin: auto;
    /* height: 50vh; */
}

.ourTeam .swiper {
    width: 80%;
    margin: auto;
    height: 80vh;
}

.swiper-wrapper {
    height: 100%;
}

.swiper-slide {
    height: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */

.ourTeam .swiper-slide .div {
    width: 80%;
    padding: 0 0;
    border-radius: 10px;
    margin: auto;
    /* border: 1px solid black; */
}

.ourTeam .swiper-slide .div .name {
    font-size: 3rem;
    font-weight: 900;
}

.ourTeam .swiper-slide .div .education {
    margin: 0.5rem 0;
    font-size: 2rem;
}

.ourTeam .swiper-slide .div .experience {
    font-size: 1.2rem;
}

.ourTeam .swiper-slide .div img {
    /* aspect-ratio: 1; */
    /* height: 150px; */
    width: 80%;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width:700px) {
    .ourTeam .swiper-slide .div img {
        width: 100%;
    }

}

/*  */

.weeklyToppers .swiper-slide .div {
    width: 70%;
    margin: auto;
    border: 1px solid rgb(84, 84, 84);
    border-radius: 10px;
    padding: 2rem 1rem;
}

@media (max-width:700px) {
    .weeklyToppers .swiper-slide .div {
        width: 80%;
    }

}

.weeklyToppers .swiper-slide .div .marks {
    font-size: 3rem;
    font-weight: 900;
    color: #101936;
}

.weeklyToppers .swiper-slide .div .name {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5rem 0 0.6rem 0;
}

.weeklyToppers .swiper-slide .div .standard {
    font-size: 1rem;
    font-weight: 500;
    /* margin: 0.5rem 0 1rem 0;  */
}

.weeklyToppers .swiper-slide .div img {
    /* aspect-ratio: 1; */
    border: 1px solid rgb(121, 121, 121);
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/*  */

.popupContainer {
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.364);
    background: white;
    /* background: red; */

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popupContainer img {
    width: 60%;
}

@media (max-width:700px) {
    .popupContainer {
        /* top: 5vh; */
    }

    .popupContainer img {
        width: 95%;
    }
}

.contact .buttonDiv {
    margin-top: 1.5rem;
}

.contact .buttonDiv a {
    margin: 0.4rem .3rem;
    /* padding: 1rem .7rem; */
}


@media (max-width:700px) {
    .contact .buttonDiv {
        display: flex;
        /* flex-direction: column; */
    }

    .contact .buttonDiv a {
        margin: 0.4rem 0.3rem;
        padding: 1rem .3rem;
    }
}