* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    width: 100%;
    background: white;
    z-index: 10;
}

nav .right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav .right a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

nav .left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img {
    height: 80%;
}

@media (max-width:700px) {
    html {
        font-size: 14px;
    }

    nav {
        padding: 0 1rem;
    }

    nav .left img {
        height: 50%;
    }

    nav .right {
        gap: 0.8rem;
    }
}

/*  */

section.main {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 1px; */
}

section.main>* {
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(112, 111, 111, 0.8);
}

section.main a {
    font-size: 2rem;
    background-color: rgb(94, 94, 94);
    color: white;
    /* padding: 1rem 1.5rem; */
    padding: 2rem 3rem;
    border-radius: 50px;
    /* outline: 1px solid white; */
}

@media (max-width:700px) {
    section.main {
        /* grid-template-columns: 1fr; */
        /* height: auto; */
    }

    section.main a {
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
    }

}

/* section.main div:first-child {
    background-image: url("./quiz.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */