:root{
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    width: 100%;
    background: white;
    z-index: 10;
}

nav .right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav .right a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

nav .left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img {
    height: 80%;
}

@media (max-width:700px) {
    html {
        font-size: 14px;
    }

    nav {
        padding: 0 1rem;
    }

    nav .left img {
        height: 50%;
    }

    nav .right {
        gap: 0.8rem;
    }
}

/*  */

section.main {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
    padding: 1rem;
}

section.main>div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section.main .button {
    font-size: 2rem;
    background-color: #1C2B53;
    color: white;
    padding: 2rem 3rem;
    border-radius: 50px;
} */

.button {
    font-size: 2rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.8em 2em;
    transition: 0.2s;

    transform: translate(-0.25rem, -0.25rem);
    background: rgb(237, 237, 237);
    box-shadow: 0.25rem 0.25rem black;
    margin-top: 2rem;
    cursor: pointer;
}

.button:active {
    transform: translate(0);
    box-shadow: none;
}

@media (max-width:700px) {
    section.main {
        grid-template-columns: repeat(1, 1fr);
    }

    section.main .button {
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
    }

}